body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    justify-content: center;
}

.content {
    align-items: center;
    width: 54rem;
    gap: 1rem;
    padding-block: 1rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-flow: wrap;
}

.grid {
    display: grid;
}

.title-container {
    align-items: center;
    gap: .5rem;
    /* font-weight: 200; */
    /* font-style: normal; */
}

.title-container > * {
    margin: 0;
    font-weight: 500;
}

.team-select {
    width: 25rem;
    /* padding: .5rem; */
    text-align: left;
}

hr {
    width: 100%;
    margin-block: 0;
}

.employee-cards-container {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
}

.employee-cards-container > * {
}

.employee-card {
    width: 12rem;
    border: 2px solid rgb(205, 205, 205);
    border-radius: .5rem;
    overflow: hidden;
    gap: .6rem;
    height: 17rem;
}

.employee-card-selected {
    border: 3px solid black;
}

.employee-card:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.employee-card > * {
    margin: 0;
    font-size: .8rem;
    align-self: center;
    text-align: center;
    font-weight: 500;
}

.designation {
    font-weight: normal;
}

.image-container {
    width: 12rem;
}

img {
    width: 100%;
    height: 100%;
}