
.teams-list-container {
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.team-list {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: .5rem;
    width: 46rem;
}

.team-list:hover {
    cursor: pointer;
}

.team-name {
    width: 100%;
    text-align: center;
    padding-block: .75rem;
    margin: 0;
    font-weight: bold;
}

.team-name:hover {
    background-color: rgb(240, 240, 240);
}

.gap-fill {
    width: 100%;
    border: 1px solid black;
    padding-block: .25rem;
}

.block-padding {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.no-hover:hover {
    background-color: rgb(255, 255, 255);
    cursor: auto;
}

.hide {
    display: none;
}